
body {
    font-family: adobe-caslon-pro, serif;
    font-weight: 400;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    font-size: 1.3em;
    text-align: center;
    background: #c6d7c7;
    color: #5a6f5c;
  }
  
  img {
    display: block;
    width: 500px;
    margin: 0 auto 1.5em auto;
  }
  
  
  section {
    width: 400px;
    padding: 1em;
  }
  
  h1 {
    font-size: 6.5em;
    font-family: atrament-web, sans-serif;
    padding: 0;
    font-style: normal;
    margin: 0 0 20px 0;
    line-height: 1;
    font-weight: 200;
    color: #b32b48;
  }
  
  h2 {
    font-style: italic;
    font-weight: 400;
    line-height: 1.2;
  }
  
  a,
  a:link,
  a:visited {
    color: inherit;
    text-decoration: underline;
  }
  a:hover {
    color: #425444;
  }
  
  /* layouts smaller than 600px, iPhone and mobiles*/
  @media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 500px) {
    body {
      font-size: .9em;
    }
  
    section  {
      width: 100%;
    }
  
    h1 {
      font-size: 5em;
    }
  
  }
  